body{
   background-color: burlywood;
   color: black;
   margin: 0px;
    font-family: "Yellowtail", cursive;
    margin-bottom: 100px;
}
header{
    border-bottom: 3px solid black;
    padding: 20px;
    color: rgb(146, 98, 39);
    font-size: 40px;
}